<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .table{
            position: relative;
            top: 50px;
        }
        h1{
            position: relative;
            top: 50px;
            text-align: center;
        }
        table {
    counter-reset: tableCount;     
}
.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}
    </style>
</head>
<body>
    <h1>Cart Items</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Place</th>
            <th scope="col">Persons</th>
            <th scope="col">Cost</th>
            <th scope="col">Total</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <% x.forEach(y => { %>
        <tbody>
          <tr>
            <th scope="row" class="counterCell"></th>
            <td><%=y.place%></td>
            <td><%=y.persons%></td>
            <td><%=y.cost%></td>
            <td><%=y.total%></td>
            <td><%=y.time%></td>
            <td>
              <form action="/delete" method="post">
                <input type="hidden" name="place" value="<%=y.place%>">
                <button><i class="fa-solid fa-trash" style="color: #051023;"></i></button>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <script>
        function myFunction() {
        document.getElementById("table").deleteRow(1); 
      }
      </script>
      <form action="./bills" method="post">
        <!-- <button class="btn btn-primary" style="position: relative; bottom: 250px; left: 1400px;" >Check Out 
          <i class="fa-solid fa-arrow-right"></i></button> -->
          <button style="position: relative;top: 50px;">Checkout</button>
      </form>
</body>
</html>